
    // PRIMARY //
$clr-100 : linear-gradient(45deg,hsl(249, 99%, 64%), hsl(278, 94%, 30%));//(active input border)
$clr-200 : hsl(0, 100%, 66%); //(input errors)
    // NEUTRAL //
$clr-300 : hsl(0, 0%, 100%);
$clr-400 : hsl(270, 3%, 87%);
$clr-500 : hsl(279, 6%, 55%);
$clr-600 : hsl(278, 68%, 11%);

$ff-1 : 'Space Grotesk', sans-serif;

$fs-1 : 18px ;

$fw-1 : 500;


